/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: var(--normal-font-weight);
  background-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
                    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
                    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
}

.section {
  inline-size: var(--section-size);
  margin: 0 auto;
}

.block-decorated {
  background-color: var(--background-color);
  border: 1px solid currentColor;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: 1;
}

.button-save {
  display: block;
  inline-size: var(--section-button-size);
  margin: 0 auto;
}